*.py      text=auto eol=lf
*.json    text=auto eol=lf
*.css     text=auto eol=lf
*.md      text=auto eol=lf
*.sh      text=auto eol=lf
*.ps1     text=auto eol=crlf
*.bat     text=auto eol=crlf
# binaires
*.png     binary
*.jpg     binary
*.jpeg    binary
*.gif     binary
*.mp4     binary
*.m4a     binary
*.wav     binary
*.ttf     binary
